<div class="grid p-fluid">
 
  <div class="col-12">
    <div class="card">
      <h5 class="title">Liste des notifications</h5>
      <br>
      <div class="container">
        <div class="title">
          <app-search
          (searchs)="searchNotifications($event)"
          [keyword]="keyWord"
          ></app-search>
        </div>
        <p-button label="Ajouter" icon="pi pi-plus" severity="success" (click)="showModalCreateUser()"></p-button>
      </div>
      <br>
      <p-toast></p-toast>
      <p-confirmDialog key="positionDialog"></p-confirmDialog>
      <ngx-spinner [name]="'spinnerLoader'" bdColor="rgb(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
      [fullScreen]="true">
      <p style="color: white"> Chargement... </p>
    </ngx-spinner>
      <p-table [value]="notifs" dataKey="first_name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 15%;">Titre </th>
            <th style="width: 30%;">Message</th>
            <th style="width: 7%;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-notif let-expanded="expanded">
          <tr>
          
            <td><a href="#" (click)="openUrl($event,notif.path)">{{ notif.title }}</a></td>
            <td>{{notif.message}}</td>
          
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  (click)="deleteNotification(notif.id, $event)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-c>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="c.contrats" dataKey="_id" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="contrat.title">Titre <p-sortIcon field="contrat.title"></p-sortIcon></th>
            <th>Date de création</th>
            <th></th>
            <th>
              <p-button icon="pi pi-plus" [rounded]="true" [text]="true" (click)="openAddContrat(c.id)"></p-button>
            </th>
          </tr>
        </ng-template>
       
      </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
    <br>
    <app-pagination *ngIf="notifs.length"
    [dataNumberShow]="dataNumberShow"
    [offset]="offset"
    [limit]="limit"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="changePage($event)"
    (getPageNumbers)="getPageNumbers()"
    >
  
    </app-pagination>
    <div class="border-round border-1 surface-border p-4" *ngIf="skeleton">
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="modalCreateUser" header="Nouvelle notification" [modal]="true" [style]="{width:'40%'}" position="top">
  <ng-template pTemplate="content">
    <div class="col-12 md:col-12">
    
      <div>
        <h5>Titre de la notification</h5>
        <input type="text" pInputText [(ngModel)]="notifBody.title" >
        <h5>Message</h5>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="notifBody.message"></textarea>
        <br>
        <br>
        <h5>Envoyer &agrave;</h5> 
        <div class="card flex">
          <div class="flex flex-wrap gap-3">
              <div class="flex align-items-center">
                  <p-radioButton 
                      name="pizza" 
                      value="all" 
                      [(ngModel)]="sendingType" 
                      (ngModelChange)="onChoiceChange($event)" 
                      inputId="ingredient1" />
                  <label for="ingredient1" class="ml-2">
                      Tous
                  </label>
              </div> 
              
              <div class="flex align-items-center">
                  <p-radioButton 
                      name="pizza" 
                      value="spec" 
                      [(ngModel)]="sendingType" 
                      (ngModelChange)="onChoiceChange($event)" 
                      inputId="ingredient4" />
                  <label for="ingredient4" class="ml-2">
                      Spécifié
                  </label>
              </div>
          </div>
      </div> 

      <div class="card flex" *ngIf="isVisible">
        <p-multiSelect 
        [options]="users" 
        [(ngModel)]="selectedUsers" 
        optionLabel="first_name" 
        emptyFilterMessage="Aucun utilisateur trouvé"
        placeholder="Sélectionner les utilisateurs"
        [showToggleAll]="false"  >
    </p-multiSelect>
    
    </div>
    
          <p-fileUpload [showUploadButton]="false" cancelLabel="Annuler" chooseLabel="Choisir un fichier" name="demo[]"
            (onSelect)="getFileUpload($event)" (onUpload)="onUpload()" [multiple]="true" accept="image/*"
          >
            <ng-template let-mail pTemplate="file"></ng-template>
            <ng-template pTemplate="content">
              <div class="grid" *ngFor="let file of f">
                <div class="col-1"></div>
                <div class="col-9">
                    <li>{{ file.name }} - {{ file.size }} bytes</li>
                </div>
                <div class="col-2">
                  <i class="pi pi-times" (click)="removeFile(file)"></i>
                </div>
              </div>
              <div class="text-center">
                <p-button icon="pi pi-check" label="Envoyer" (click)="onUpload()" severity="info"></p-button>
              </div>
            </ng-template>
          </p-fileUpload>
      </div>
      <br>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <!-- <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Ajouter" (click)="createNotification()"
      [disabled]="disableUpdate"></button> -->
  </ng-template>
</p-dialog>

