
<nav aria-label="Page navigation example">
    <ng-container>
        <div class="custom-paginator-5">
          <button class="card" (click)="executerFonction(1)">Début</button>
          <button class="card" (click)="executerFonction(currentPage - 1)">&lt;&lt;</button>
          <ng-container *ngFor="let page of getCustomPagesArray()">
            <span [ngClass]="{ 'selected-page': currentPage === page }" (click)="executerFonction(page)">{{ page }}</span>
          </ng-container>
          <button class="card" (click)="executerFonction(currentPage + 1)">&gt;&gt;</button>
          <button class="card" (click)="executerFonction(totalPages)">Fin</button>
        </div>
      </ng-container>
  </nav> 


